<launch>
	<include file="$(find osa_serial)/launch/masterBoard.launch"/>
	<node name="osa_commandBuilder_node" pkg="osa_control" type="osa_commandBuilder" respawn="true"/>
	<node name="osa_joy_node" pkg="joy" type="joy_node" respawn="true"/>

	<include file="$(find osa_vision)/launch/usb_cam_face.launch"/>
	<node name="osa_faceRecognition_node" pkg="osa_vision" type="osa_faceRecognition" respawn="true"/>
	<node name="osa_faytechGUI_node" pkg="osa_vision" type="osa_faytechGUI" respawn="true"/>

	<node name="osa_xBoxJoyConductor_node" pkg="osa_control" type="osa_xBoxJoyConductor" respawn="true"/>
	<node name="osa_armManual_node" pkg="osa_control" type="osa_armManual" respawn="true"/>
	<node name="osa_mobileBaseManual_node" pkg="osa_control" type="osa_mobileBaseManual" respawn="true"/>
	<node name="osa_mobileBaseFollower_node" pkg="osa_control" type="osa_mobileBaseFollower" respawn="true"/>

	<!--node name="osa_caffe_node" pkg="ros_caffe" type="ros_caffe_test" respawn="true"/-->
</launch>

