<launch>

	<!-- XBox controller node -->
	<node name="osa_joy_node" pkg="joy" type="joy_node" respawn="true">
		<param name="dev" type="string" value="/dev/input/js0" />
		<remap from="joy" to="joy0"/>
	</node>

	<!-- Razor IMU 9DOF node -->
	<node name="razor_USB0_node" pkg="razor_imu_9dof" type="imu_node.py" output="screen" respawn="true">
        <param name="device" type="string" value="/dev/ttyUSB1" />
	    <remap from="imuRaw" to="imu_raw_0"/>
    </node>
    
    <!-- High Speed Android balance node -->
	<node name="osa_hsa_balance_node" pkg="osa_control" type="osa_hsa_balance" respawn="true">
	
		<!-- These parameters are the 2 DOF of the wheels to control -->
		<param name="dof_right_wheel" type="string" value="dof17" />
		<param name="dof_left_wheel" type="string" value="dof18" />	
		
		<!-- These parameters are the indexes in the axes array of a std_msgs::Joy -->
		<param name="joy_axis_left_right" type="int" value="3" />
		<param name="joy_axis_up_down" type="int" value="4" />
		<param name="joy_axis_left_trigger" type="int" value="2" />
		<param name="joy_axis_right_trigger" type="int" value="5" />
		
		<!-- Topics to listen -->		
		<remap from="imuRaw" to="imu_raw_0"/>
		<remap from="joy" to="joy0"/>
	</node>
	
</launch>
